### DEF Function

In [3]:
# def for defining function
#task/operation
#defenition
#calling

In [4]:
def wish(name):
    return f"Happy New Year {name}"  #body of function

In [5]:
wish("Amal")

'Happy New Year Amal'

In [6]:
def old(name,age):
    """This Function Will Display The Name And Age OF The User"""
    return name +" "+"You are"+" "+str(age)+ " "+"years old"

In [7]:
old("Amal","22")

'Amal You are 22 years old'

In [8]:
old("Jack",36)

'Jack You are 36 years old'

In [9]:
help(old)

Help on function old in module __main__:

old(name, age)
    This Function Will Display The Name And Age OF The User

In [10]:
def wish(name,age):
    final_output= f"{name} You Are {age} Years Old"
    return final_output
wish("Amal",22)

'Amal You Are 22 Years Old'

In [11]:
def change_param(n):
    n="Mr. Amal"
    return n
output="Mr. Arif"
change_param(output)

'Mr. Amal'

### Task

1. Receive 3 parameters and to a task by using all those parameters
2. Write a function to find the given number is odd or even
3. Write a function which will send a notification to the user to pay his hostel fee by mentioning his name and bill if it is end of the month(greater than 25)?

In [12]:
def wish(name,university,year):
    name=input("Enter Your Name : ")
    university=input("Enter Your University : ")
    year=input("Enter Your Year Of Graduation : ")
    return f"Hey {name} , you have completed degree in {university} on the year of {year}"
wish("name","university","year")

Enter Your Name : Amal Roshan
Enter Your University : Calicu
Enter Your Year Of Graduation : 2023

'Hey Amal Roshan , you have completed degree in Calicu on the year of 2023'

In [15]:
def find_odd_even(number):
    number=int(input("Enter A Number : "))
    if number%2==0:
        return "even"
    else:
        return "odd"
find_odd_even("number")

Enter A Number : 78

'even'

In [20]:
storage={}
storage['first']={}
storage['middle']={}
storage['last']={}

In [21]:
storage

{'first': {}, 'middle': {}, 'last': {}}

In [22]:
p1 = 'Muhammed Bin Rashid'
storage['first']['Muhammed']=[p1]
storage['middle']['Bin']=[p1]
storage['last']['Rashid']=[p1]

In [23]:
storage

{'first': {'Muhammed': ['Muhammed Bin Rashid']},
 'middle': {'Bin': ['Muhammed Bin Rashid']},
 'last': {'Rashid': ['Muhammed Bin Rashid']}}

In [24]:
storage['first']['Muhammed']

['Muhammed Bin Rashid']

In [10]:
def wish(name,college,year):
    return f"{name} you have completed degree from {college} on {year}"

In [11]:
params=("Alex","Maharajas College",2022,)

In [12]:
wish(*params)

'Alex you have completed degree from Maharajas College on 2022'

In [18]:
def celeb(name,age,occupation):
    return f"{name} is a celebrity with somany followers and he is only {age} also he is a great {occupation}."

In [19]:
celeb("Johny Depp",45,"Actor")

'Johny Depp is a celebrity with somany followers and he is only 45 also he is a great Actor.'

In [20]:
params=("Margott Robbie",30,"Actress")

In [23]:
celeb(*params)

'Margott Robbie is a celebrity with somany followers and he is only 30 also he is a great Actress.'

### MORE FUNCTIONS

#### Map

In [3]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
def square (val):
    return val**2

In [5]:
square(10)

100

In [8]:
list(range(2,12,2))

[2, 4, 6, 8, 10]

In [12]:
list(map(square,range(2,12,2)))

[4, 16, 36, 64, 100]

In [13]:
tuple(map(square,range(2,22,2)))

(4, 16, 36, 64, 100, 144, 196, 256, 324, 400)

In [18]:
org_list=[1,2,5,4,6]
def cube(num):
    return num**3
fin_list=list(map(cube,org_list))
print(fin_list)

[1, 8, 125, 64, 216]

#### FILTER

In [20]:
def funct(x):
    return x.isalnum()

In [21]:
seq=["one","two","*-)","?/"]

In [22]:
list(filter(funct,seq))

['one', 'two']

In [29]:
words=["banana","papaya","cherry","cucumber","coca","berry"]
def letter(x):
    return x[-1]=="a"
list(filter(letter,words))

['banana', 'papaya', 'coca']

In [31]:
names=["Amal","Arif","Abu","Raihan Beerankutty Ummar","Valeed"]
def letters(n):
    return len(n)<5
list(filter(letters,names))

['Amal', 'Arif', 'Abu']

#### LAMBDA

In [41]:
def funct(x):
    return x.isalnum()

In [52]:
seq=["One","Two","Three","?/}","?>/"]

In [53]:
list(filter(lambda x: x.isalnum,seq))

['One', 'Two', 'Three', '?/}', '?>/']